@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(fonts/source_serif_4.woff2);
}
@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(fonts/source_sans_3.woff2);
}

* {
    box-sizing: border-box;
}

html {
    background: light-dark(#eee, #000);
    color: light-dark(#000, #ddd);
    font-size: 16px;
    font-optical-sizing: auto;
    color-scheme: dark light;
    padding: 0 1rem;

    --accent-color: light-dark(#852727, #a33232);
    --accent-shade: light-dark(#8527271a, #a332321a);
}

body {
    font-family: 'Source Sans 3', 'Roboto', 'Helvetica Neue', Verdana, sans-serif;
    font-size: 1rem;
    max-width: 768px;
    margin: 0 auto;
}

/* TODO: unified color scheme, nicer styling */

h1, h2, h3, h4, h5, h6, table caption {
    text-align: left;
    font-family: 'Source Serif 4', 'Times New Roman', Times, serif;
    color: var(--accent-color);
    font-weight: 600;
}

a {
    text-decoration-style: dotted;
    &:hover {
        text-decoration-style: solid;
    }
}

header > h1 {
    text-align: center;
}

section {
    background: light-dark(#fff, #111);
    box-shadow: 0 0 .25rem 0 light-dark(#0000001a, #0000);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0 1rem;
    margin: 1rem 0;

    h1 {
        font-size: 1.35em;
        margin: 1rem 0;
    }

    h2 {
        font-size: 1em;
        margin: 1.5rem 0 1rem;
    }

    table {
        margin: 1rem 0;
    }

    p {
        margin: .5rem 0;
    }
}

table.schema {
    border-collapse: collapse;
    border: 1px solid light-dark(#eee, #222);
    
    tr {
        border-bottom: 1px solid light-dark(#eee, #222);
    }

    td, th {
        vertical-align: middle;
        font-weight: normal;
        text-align: left;
        padding: .25rem 1rem;
    }
    tr.controls {
        background: light-dark(#ccc, #333);
    }
    tr.schema-table {
        background: light-dark(#eee, #222);
        td, th {
            font-weight: 600;
        }
    }
    tr.schema-column {
        th {
            padding-left: 2rem;
        }
    }

    @supports not selector(:has(option:checked)) {
        tr.controls,
        [data-format]:not([data-format=""]) {
            display: none !important;
        }
    }

    @supports selector(:has(option:checked)) {
        &:has(tr.controls select.format > option[value=""]:checked) [data-format]:not([data-format=""]),
        &:has(tr.controls select.format > option[value="json"]:checked) [data-format]:not([data-format="json"]),
        &:has(tr.controls select.format > option[value="csv"]:checked) [data-format]:not([data-format="csv"]) {
            display: none !important;
        }
    }
}


table.simple-formats,
table.raw-formats,
table.history {
    border-collapse: collapse;
    border: 1px solid light-dark(#eee, #222);
    
    tr {
        border-bottom: 1px solid light-dark(#eee, #222);
    }

    td, th {
        vertical-align: middle;
        font-weight: normal;
        text-align: center;
        padding: .5rem 1rem;
    }

    th {
        font-weight: bold;
    }

    thead tr {
        background: light-dark(#eee, #222);
    }

    a {
        margin: 0 .25em;
        &:not(:hover) {
            text-decoration: none;
        }
    }

    &.raw-formats td:last-child {
        text-align: left;
    }
}

dl.api {
    margin: 1rem;

    dt {
        color: var(--accent-color);
        span.param {
            background: var(--accent-shade);
            padding: 0 0.25em;
            margin: 0 0.15em;
            border-radius: 0.5em;
        }
        span.opt {
            &::before,
            &::after {
                color: light-dark(#0003, #fff3);
                margin: 0 0.15em;
            }
            &::before {
                content: '[';
            }
            &::after {
                content: ']';
            }
        }
    }
    dd {
        margin: .5rem 0 1.5rem 2rem;
        pre, code {
            background: light-dark(#eee, #222);
            font-size: 0.85em;
            font-family: monospace;
        }
        pre {
            display: block;
            padding: .5em;
            overflow-x: auto;
        }
        code {
            display: inline;
            background: var(--accent-shade);
            color: var(--accent-color);
        }
    }
}

footer {
    text-align: center;
    color: #666;
    margin: 2rem;
}

footer > nav > a {
    color: inherit;
}

footer > nav > a:link:hover {
    color: #00c;
}
